<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Stocked IT</title>

  <!-- Bootstrap core CSS -->
  <link href="..\static\vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../static/css/fontawesome.css">
  <link rel="stylesheet" href="../static/css/templatemo-grad-school.css">
  <link rel="stylesheet" href="../static/css/owl.css">
  <link rel="stylesheet" href="../static/css/lightbox.css">
  <link rel="stylesheet" href="../static/css/styles.css">



</head>

<body>


  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>Stocked</em>IT 📈</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Home</a></li>
        <li><a href="#section6">About Us</a>
        </li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a href="#section6">Contact</a></li>
        <!-- <li><a href="https://templatemo.com" class="external">External</a></li> -->
      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
    

    
    <video autoplay muted loop id="bg-video">
      <source src="../static/images/video.mp4" type="video/mp4" />
    </video>

          


    <div class="video-overlay header-text">
      <div class="caption">
        <!-- <h6>Graduate School of Management</h6> -->
        <h2><em>LONG-TERM </em> INVESTING</h2>

        <div class="main-button">
          <div class="scroll-to-section"><a href="#section2">Sectors</a></div>
        </div>




      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4>All Weather Portfolio</h4>
              </div>
              <div class="content-hide">
                <p>All-weather portfolio universe is developed by keeping the Indian economy, taxpayers, and youth in mind. It includes sectors that are into entertainment and luxury. Considering the Indian demographic, the 0-24 years age group constitutes 44% of the Indian population. An average individual after filling their bills and rent spends most of their income directly or indirectly in these sectors..</p>
                <p class="hidden-sm">All-weather portfolio universe is developed by keeping the Indian Economy, Taxpayers, and youth in mind. It includes sectors that are into entertainment and luxury. Considering the Indian Demographic, the 0-24 years age group constitutes 44% of the Indian population. An average individual after filling their bills and rent spends most of their income directly or indirectly in these sectors.</p>
                <div class="scroll-to-section"><a href="#section3">Know More.</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4>Safe Play Portfolio</h4>
              </div>
              <div class="content-hide">
                <p>Safe Play Portfolio Universe is developed considering the 2021 budget and government policies. Government policies are inclined towards building infrastructure and agriculture. Hence, all the sectors in this portfolio revolve around the same. This sector's revenue is directly or indirectly is affected by the 2021-22 financial budget.</p>
                <p class="hidden-sm">Safe Play Portfolio Universe is developed considering the 2021 budget and government policies. Government policies are inclined towards building infrastructure and agriculture. Hence, all the sectors in this portfolio revolve around the same. This sector's revenue is directly or indirectly is affected by the 2021-22 financial budget. </p>
                <div class="scroll-to-section"><a href="#section4">Know More.</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <h4>Buy Right Portfolio</h4>
              </div>
              <div class="content-hide">
                <p>Buy Right Portfolio universe is developed by keeping the daily needs of Indians in mind. It majorly focuses on the agriculture sector and its subsidiaries. It includes sectors that are producing products used in day-to-day lives. Hence, the demand will never amortize. It is the safest bet for long-term investing.</p>
                <p class="hidden-sm">Buy Right Portfolio universe is developed by keeping the daily needs of Indians in mind. It majorly focuses on the agriculture sector and its subsidiaries. It includes sectors that are producing products used in day-to-day lives..</p>
                <div class="scroll-to-section"><a href="#section5">Know More.</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Sectors</h2>
          </div>
        </div>

        <div class="sc-bdCDUS jTqISM">
          <a href="airlines.html" class="sc-geuPIQ jwvUMl">Airlines</a><a
            href="automobile.html" class="sc-geuPIQ jwvUMl">Automobiles</a><a
            href="Agroproducts.html" class="sc-geuPIQ jwvUMl">Agro Products</a><a

            href="Buildingproducts.html" class="sc-geuPIQ jwvUMl">Building Products</a><a
            href="cements.html" class="sc-geuPIQ jwvUMl">Cements</a><a
            href="construction.html" class="sc-geuPIQ jwvUMl">Construction</a><a
            href="electricalpro.html" class="sc-geuPIQ jwvUMl">Electrical Products</a><a
            href="fmcgfoods.html" class="sc-geuPIQ jwvUMl">FMCG Foods</a><a
            href="fmcgproducts.html" class="sc-geuPIQ jwvUMl">FMCG Products</a><a
            href="fmcgtobacco.html" class="sc-geuPIQ jwvUMl">FMCG Tobacco</a><a
            href="agrofertilizers.html" class="sc-geuPIQ jwvUMl">Agro Fertilizers</a><a
            href="ITconsulting.html" class="sc-geuPIQ jwvUMl">IT & Consulting</a><a
            href="paints.html" class="sc-geuPIQ jwvUMl">Paints</a><a
            href="logistics.html" class="sc-geuPIQ jwvUMl">Logistics</a><a

            href="petroleum.html" class="sc-geuPIQ jwvUMl">Petroleum</a><a href="pharmaceuticals.html"
            class="sc-geuPIQ jwvUMl">Pharmaceuticals</a><a href="powergeneration.html"
            class="sc-geuPIQ jwvUMl">Power Generation</a><a href="renewable.html"
            class="sc-geuPIQ jwvUMl">Renewable Energy</a><a href="restaurants.html"
            class="sc-geuPIQ jwvUMl">Restaurants & Cafes</a><a href="telequip.html"
            class="sc-geuPIQ jwvUMl">Telecom Equipments</a><a href="telsector.html"
            class="sc-geuPIQ jwvUMl">Telecom Sector</a><a href="textiles.html"
            class="sc-geuPIQ jwvUMl">Textiles</a><a href="banks.html"
            class="sc-geuPIQ jwvUMl">Private & Public Banks</a><a href="alchohol.html"
            class="sc-geuPIQ jwvUMl">Alcoholic Beverages</a><a href="departmental.html"
            class="sc-geuPIQ jwvUMl">Departmental Stores</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section video" data-section="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <h4>All Weather Portfolio </h4>
            <p><b>{{ allweather[0][0][0] }}</b> | {{allweather[0][0][1]}} | {{allweather[0][0][4]}} | Portfolio Share: <b>{{allweather[0][0][3]}} </b>
              <br>
              <b>{{ allweather[1][0][0] }}</b> | {{allweather[1][0][1]}} | {{allweather[1][0][4]}} | Portfolio Share: <b>{{allweather[1][0][3]}} </b>
              <br>
              <b>{{ allweather[1][1][0] }}</b> | {{allweather[1][1][1]}} | {{allweather[1][1][4]}} | Portfolio Share: <b>{{allweather[1][1][3]}} </b>
              <br>
              <b>{{ allweather[1][2][0] }}</b> | {{allweather[1][2][1]}} | {{allweather[1][2][4]}} | Portfolio Share: <b>{{allweather[1][2][3]}} </b>
              <br>
              <b>{{ allweather[2][0][0] }}</b> | {{allweather[2][0][1]}} | {{allweather[2][0][4]}} | Portfolio Share: <b>{{allweather[2][0][3]}}</b>
              <br>
              <b>{{ allweather[3][0][0] }}</b> | {{allweather[3][0][1]}} | {{allweather[3][0][4]}} | Portfolio Share: <b>{{allweather[3][0][3]}}</b>
              <br>
              <b>{{ allweather[3][1][0] }}</b> | {{allweather[3][1][1]}} | {{allweather[3][1][4]}} | Portfolio Share: <b>{{allweather[3][1][3]}}</b>
              <br>
              <b>{{ allweather[4][0][0] }}</b> | {{allweather[4][0][1]}} | {{allweather[4][0][4]}} | Portfolio Share: <b>{{allweather[4][0][3]}}</b>
              <br>
              <b>{{ allweather[5][0][0] }}</b> | {{allweather[5][0][1]}} | {{allweather[5][0][4]}} | Portfolio Share: <b>{{allweather[5][0][3]}}</b>
              <br>
              <b>{{ allweather[5][1][0] }}</b> | {{allweather[5][1][1]}} | {{allweather[5][1][4]}} | Portfolio Share: <b>{{allweather[5][1][3]}}</b>
              <br>
              <b>{{ allweather[6][0][0] }}</b> | {{allweather[6][0][1]}} | {{allweather[6][0][4]}} | Portfolio Share: <b>{{allweather[6][0][3]}}</b>
              <br>
              <b>{{ allweather[7][0][0] }}</b> | {{allweather[7][0][1]}} | {{allweather[7][0][4]}} | Portfolio Share: <b>{{allweather[7][0][3]}}</b>
              <br>
              <b>{{ allweather[8][0][0] }}</b> | {{allweather[8][0][1]}} | {{allweather[8][0][4]}} | Portfolio Share: <b>{{allweather[8][0][3]}}</b>
              <br>

            </p>

        </div>
        </div>
        <div class="col-md-6">
            <img src="../static/images/allweather.png" alt=""><a rel="nofollow"></a>
          </div>
      </div>
    </div>
  </section>

  <section class="section video" data-section="section4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <h4>Safe Play Portfolio</h4>
            <p><b>{{ safeplay[0][0][0] }}</b> | {{safeplay[0][0][1]}} | {{safeplay[0][0][4]}} | Portfolio Share: <b>{{safeplay[0][0][3]}}</b>
              <br>
              <b>{{ safeplay[0][1][0] }}</b> | {{safeplay[0][1][1]}} | {{safeplay[0][1][4]}} | Portfolio Share: <b>{{safeplay[0][1][3] }}</b>
              <br>
              <b>{{ safeplay[0][2][0] }}</b> | {{safeplay[0][2][1]}} | {{safeplay[0][2][4]}} | Portfolio Share: <b>{{safeplay[0][2][3] }}</b> 
              <br>
              <b>{{ safeplay[1][0][0] }}</b> | {{safeplay[1][0][1]}} | {{safeplay[1][0][4]}} | Portfolio Share: <b>{{safeplay[1][0][3] }}</b>
              <br>
              <b>{{ safeplay[2][0][0] }}</b> | {{safeplay[2][0][1]}} | {{safeplay[2][0][4]}} | Portfolio Share: <b>{{safeplay[2][0][3] }}</b>
              <br>
              <b>{{ safeplay[2][1][0] }}</b> | {{safeplay[2][1][1]}} | {{safeplay[2][1][4]}} | Portfolio Share: <b>{{safeplay[2][1][3] }}</b>
              <br>
              <b>{{ safeplay[3][0][0] }}</b> | {{safeplay[3][0][1]}} | {{safeplay[3][0][4]}} | Portfolio Share: <b>{{safeplay[3][0][3] }}</b>
              <br>
              <b>{{ safeplay[4][0][0] }}</b> | {{safeplay[4][0][1]}} | {{safeplay[4][0][4]}} | Portfolio Share: <b>{{safeplay[4][0][3] }}</b>
              <br>
              <b>{{ safeplay[5][0][0] }}</b> | {{safeplay[5][0][1]}} | {{safeplay[5][0][4]}} | Portfolio Share: <b>{{safeplay[5][0][3] }}</b>
              <br>
              <b>{{ safeplay[6][0][0] }}</b> | {{safeplay[6][0][1]}} | {{safeplay[6][0][4]}} | Portfolio Share: <b>{{safeplay[6][0][3] }}</b>
              <br>
              <b>{{ safeplay[7][0][0] }}</b> | {{safeplay[7][0][1]}} | {{safeplay[7][0][4]}} | Portfolio Share: <b>{{safeplay[7][0][3] }}</b> 
              <br>
              <b>{{ safeplay[8][0][0] }}</b> | {{safeplay[8][0][1]}} | {{safeplay[8][0][4]}} | Portfolio Share: <b>{{safeplay[8][0][3] }}</b> 
              <br>
              <b>{{ safeplay[8][1][0] }}</b> | {{safeplay[8][1][1]}} | {{safeplay[8][1][4]}} | Portfolio Share: <b>{{safeplay[8][1][3] }}</b> 
              <br>
            
            
            
            </p>
            
        </div>
        
      </div>
      <div class="col-md-6">
        <img src="../static/images/Safeplay.png" alt=""><a rel="nofollow"></a>
      </div>
    </div>
    </div>
  </section>


  <section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <h4>Buy Right Portfolio</h4>
            <p> <b>{{ buyright[0][0][0] }}</b> | {{buyright[0][0][1]}} | {{buyright[0][0][4]}} | Portfolio Share: <b>{{buyright[0][0][3]}} </b>
              <br>
              <b>{{ buyright[0][1][0] }}</b> | {{buyright[0][1][1]}} | {{buyright[0][1][4]}} | Portfolio Share: <b>{{buyright[0][1][3]}} </b>
              <br>
              <b>{{ buyright[1][0][0] }}</b> | {{buyright[1][0][1]}} | {{buyright[1][0][4]}} | Portfolio Share: <b>{{buyright[1][0][3]}} </b>
              <br>
              <b>{{ buyright[1][1][0] }}</b> | {{buyright[1][1][1]}} | {{buyright[1][1][4]}} | Portfolio Share: <b>{{buyright[1][1][3]}} </b>
              <br>
              <b>{{ buyright[2][0][0] }}</b> | {{buyright[2][0][1]}} | {{buyright[2][0][4]}} | Portfolio Share: <b>{{buyright[2][0][3]}} </b>
              <br>
              <b>{{ buyright[3][0][0] }}</b> | {{buyright[3][0][1]}} | {{buyright[3][0][4]}} | Portfolio Share: <b>{{buyright[3][0][3]}} </b>
              <br>
              <b>{{ buyright[3][1][0] }}</b> | {{buyright[3][1][1]}} | {{buyright[3][1][4]}} | Portfolio Share: <b>{{buyright[3][1][3]}} </b>
              <br>
              <b>{{ buyright[4][0][0] }}</b> | {{buyright[4][0][1]}} | {{buyright[4][0][4]}} | Portfolio Share: <b>{{buyright[4][0][3]}} </b>
              <br>
              <b>{{ buyright[4][1][0] }}</b> | {{buyright[4][1][1]}} | {{buyright[4][1][4]}} | Portfolio Share: <b>{{buyright[4][1][3]}} </b>
              <br>
              <b>{{ buyright[5][0][0] }}</b> | {{buyright[5][0][1]}} | {{buyright[5][0][4]}} | Portfolio Share: <b>{{buyright[5][0][3]}} </b>
              <br>
              <b>{{ buyright[5][1][0] }}</b> | {{buyright[5][1][1]}} | {{buyright[5][1][4]}} | Portfolio Share: <b>{{buyright[5][1][3]}} </b>
              <br>
              <b>{{ buyright[6][0][0] }}</b> | {{buyright[6][0][1]}} | {{buyright[6][0][4]}} | Portfolio Share: <b>{{buyright[6][0][3]}} </b>
              <br>
              <b>{{ buyright[6][1][0] }}</b> | {{buyright[6][1][1]}} | {{buyright[6][1][4]}} | Portfolio Share: <b>{{buyright[6][1][3]}} </b>
              <br>
              <b>{{ buyright[7][0][0] }}</b> | {{buyright[7][0][1]}} | {{buyright[7][0][4]}} | Portfolio Share: <b>{{buyright[7][0][3]}} </b>
              <br>
              <b> 
                {{ buyright[8][0][0] }}</b> | {{buyright[8][0][1]}} | {{buyright[8][0][4]}} | Portfolio Share: <b>{{buyright[8][0][3]}} </b>
              <br>

            </p>
            
          </div>
        </div>
        <div class="col-md-6">
          <img src="../static/images/Buyright.png" alt=""><a rel="nofollow"></a>
        </div>
      </div>
    </div>
  </section>

  
  
  
  <section class="section why-us" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>About Us</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <ul>
              <li><a href='#tabs-1'>Who we are?</a></li>
              <li><a href='#tabs-2'>What we do?</a></li>
              <li><a href='#tabs-3'>How it works?</a></li>
            </ul>
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="../static/images/whoweare_re.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Who we are?</h4>
                    <p>StockedIT is a platform that aims to guide and ease the investment journey for novice investors. We aim to provide financial literacy to our users and recommend good-performing stocks purely on the basis of their fundamental analysis. With StockedIt instead of investing in charts, we will be investing in businesses. It will dig deep into the company’s financials to display the best and most accurate results to our users. These stocks if considered for long-term investing will definitely give great results. For those who are starting their stock investment journey, we have developed readymade portfolios, and for those experienced stock players, StockedIT will help reduce the time and effort required in individual stock research. Currently, we are working on 25 sectors of the market with more than 100+ stocks and 3 diversified portfolios. </p>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="../static/images/whatwedo_re.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>What we do?</h4>
                    <p>Currently, in India, we have very few investment options left where we can expect an annual return of more than 8% considering the high inflation rate of 6%. Any investment made which gives less than 6% annual return implies burning your hard-earned savings. The stock market is the only viable investment option left where we can expect a minimum of 7-10% annual returns and there is no upper limit to these returns. StockedIT makes your investment journey effortless and improves the financial literacy of its users so that they can take calculative and confident risks without giving hefty fees to their brokers. StockedIT aims to simplify the fundamental analysis of all the stocks of various sectors available in the market and also generate a diversified portfolio for long-term risk-free investments. 
                    </p>
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="../static/images/howitworks_re.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>How it works?</h4>
                    <p>StockedIT focuses on the fundamental analysis of different stocks to suggest good performing stocks for long-term and short-term investments for high returns. The stocks will go through indicators such as reserves and surplus, debt to equity ratio, price to earnings ratio, valuation of the stock, Earnings per share, return on equity, etc. The performance on these indicators will be measured in the form of StockedIT points. The stocks in each sector will be ranked on the basis of these points. StockedIt works on real-time data to give the most accurate results to its users. Investors can pick the top stocks from each sector to create a strong low-risk portfolio and fulfill their financial goals.
                      On the basis of these rankings, we’ll generate a readymade portfolio to ease the investing process for novice investors. 
                      </p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  
  

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> Mohil Nagpal
            | <i class="fa fa-linkedin-square" aria-hidden="true"></i>  : <a href="https://www.linkedin.com/in/mohilnagpal/" rel="sponsored" target="_parent">mohilnagpal</a>
            | <i class="fa fa-phone" aria-hidden="true"></i>
            +91 9818072599 
            | <i class="fa fa-address-card" aria-hidden="true"></i> Address: Plot Nos 8-11, TechZone 2, Greater Noida, Uttar Pradesh 201310





            
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="../static/js/isotope.min.js"></script>
  <script src="../static/js/owl-carousel.js"></script>
  <script src="../static/js/lightbox.js"></script>
  <script src="../static/js/tabs.js"></script>
  <script src="../static/js/video.js"></script>
  <script src="../static/js/slick-slider.js"></script>
  <script src="../static/js/custom.js"></script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
      if ($(e.target).hasClass('external')) {
        return;
      }
      e.preventDefault();
      $('#menu').removeClass('active');
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>

</html>